.all img{
    width: 200px;
    height: 250px;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    
}
.spa{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}
.eachspa{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}
.eachspa button{
    padding: 1rem;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    background-color: #c89116;
    padding: 1rem 2.5rem;
    margin: 1rem 0;
}
.links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    color: #5a4009;
    font-size: 1.2rem;

}
.links ul li{
    list-style-type: none;
}